/* TODO: Set global font to Times New Roman */

@media screen and (min-width: 768px) {
    #tiny{
        display: none;
    }
    #huge{
        display: inline-block;
    }
    body{
        margin-top: 0px;
    }
    #scroller{
        height: 93vh;
        position: relative;
        left: 300px;
    }
}
@media screen and (max-width: 768px) {
    #navbarSupportedContent{
        height: 100vh;
    }
    #huge{
        display: none!important;
    }
    body{
        margin-top: 60px;
    }
    #scroller{
        height: 80vh;
    }
}

a, a:hover{
    color: rgb(0, 0, 0);
}
div#scroller img{
    height: 95%;
}
textarea, textarea:focus{
    border-color: rgba(0, 0, 0, 0.3);
    outline: none;
}
body{
    text-decoration: none solid rgb(0, 0, 0);
    font-family: "Times New Roman", "Times Roman", serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}

#tiny{
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
}
#huge{
    width: 204px;
    position: fixed;
    z-index: 100;
    left: 60px;
    top: 0px;
    bottom: 0px;
    opacity: 0.99;
    height: 100vh;
    overflow: visible;
    display: flex;
    align-items: center;
}
#bottom_text{
    margin-top: 250px;
}
#tiny-bottom{
    position: fixed;
    bottom: 1%;
    right: 0;
    text-decoration: underline;
    z-index: 100;
}
#scroller{
    display: flex;
    width: 100%;
    align-items: center;
}
hr{
    border-top: black solid 1px;
}